@tailwind base;
@tailwind components;
@tailwind utilities;

/* Cache le scrollbar pour Chrome, Safari et Opera */
.scrollbar-hide::-webkit-scrollbar {
    display: none;
}

/* Cache le scrollbar pour IE, Edge et Firefox */
.scrollbar-hide {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}
